@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}
body {
  @apply box-border bg-eunoia text-gray-100;
}
.btn-primary {
  @apply bg-indigo-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

input {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}
::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-cyan-600;
}